.swiper-container {
    width: 480px;
}

.error-container {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

.swiper-pagination {
    position: relative !important;
    margin-top: 30px;
    display: none !important;
}

.swiper-pagination-bullet-active {
    background-color: #000 !important;
}

.car-details {
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
}


.car-links {
    display: flex;
    justify-content: center;
}

.loading-bar {
    margin-top: 200px;
    background: white;
    width: 100%;
    flex-basis: 95%;

}

.car-links>li {
    display: inline-block;
    margin-right: 25px;
    cursor: pointer;
}

.car-img {
    margin-top: 10px !important;
}


@media screen and (min-width: 350px) {
    .swiper {
        margin-top: 75px;
    }

    .swiper-pagination {
        display: inherit !important;
    }

}

@media screen and (max-width: 640px) {
    .car-details {
        float: inherit;
    }
}

@media screen and (min-width: 640px) {
    .swiper-container {
        width: 640px;
    }

    .swiper {
        margin-top: 75px;
    }

    .swiper-pagination {
        display: inherit !important;
    }
}

@media screen and (min-width: 768px) {

    .swiper-pagination {
        display: none !important;
    }

    .swiper-container {
        width: 768px;
    }

    .swiper {
        margin-top: 40px;
    }

    .loading-bar {
        flex-basis: 58%;
        margin-left: 28vh;
    }
}