.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(250, 250, 250);
    height: auto;
    width: auto;
    padding: 1rem;
    color: #707070;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 1rem;
    font-weight: 250;
    text-transform: capitalize;
    color: black;
}


.footer-content p{
    max-width: 500px;
    margin: 5px auto;
    line-height: 28px;
    font-size: 14px;
    color: #707073;
}

@media screen and (max-height: 799px) {
    .footer {
        display: none !important;
    }
}